* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "no repeat";
    background-color: #000000;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/639/201/275/dark-skull-hacker-wallpaper-preview.jpg");
    color: #1e272e;
    color: #fff;
    font-size: 16px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .container {
    width: 90%;
    margin: auto;
  }
  .nave-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
  }
  
  .nave-brand {
    width: 50px;
  }
  
  .nave-main ul {
    display: flex;
    color:white;
  }
  
  .nave-main ul li {
    padding: 10px;
  }
  
  .nave-main ul li a {
    padding: 2px;
  }
  
  .nave-main ul li a:hover {
    border-bottom: 2px solid #fff;
  }
   
  hr {
    margin: 10px 0;
  }

  .btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
  }
  
  .btn:hover {
    opacity: 0.5;
  }
  
  .portada {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: #fff;
  }
  .portada img{
    width: 300px;
    height: 300px;
  }
  .portada h2,
  .portada p {
    margin-bottom: 10px;
  }
  
  .portada .btn {
    margin-top: 20px;
  }
  .option {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 70px 10px;
  }
  
  .option img {
    width: 100%;
    height: 250px;
  }
  
  .option h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .option a {
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
  }
  
  .social {
    margin: 50px;
  }
  .social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .links a {
    margin: 0 30px;
  }
  
  .links a i {
    font-size: 3rem;
  }
  
  .footer {
    background: #2f3640;
    color: #ffffff;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
  }
  
