*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 98%;
    margin: 0 auto;
    background-color: rgb(219, 216, 216);
}

#container{
    width: 100%;
    margin: 0 auto;
}
header{
    max-width: 100%;
    background: rgb(17, 4, 4);
    width: 100%;
    clear: both;
    content: '';
    padding: 25px;
    display: flex;
    margin: 0 auto;
}
.menu{
    margin-left: 5px;
    margin-right: 50px;
    color: rgb(255, 255, 255);
    font-weight:bold;
    float: right;
    display: flex;
}

.top{
    max-width: 100%;
    width: 100%;
    padding: 25px;
    margin: 0 auto;
    background-color: lightblue;
    color: rgb(0, 0, 0);
}

body header img{
    width: 50px;
    float: left;
    display: flex;
    height: 50px;
}
.pie p{
    text-align: center;
    background-color: black;   
    color:rgb(255,255,255);
}
.li{
    color: white;
}
body div img{
    max-width:100%;
    width:80%;
    display: block;
    margin: 5px auto;
}

body h1{
    width: 100%;
    border-radius: 5px;
    background-color: rgb(0,0,0) ;
    color: white;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}
body p{
    font-family: open sans;
    color: black;
}
.lista{
    types: disc;
}
.LMS{
    background-color: rgb(176, 216, 230);
}
.LMS img{
    width: 200px;
    height: 250px;
}
.borde{    
    margin: 25px 0px 0px 10px;
    padding: 5px;
    border-radius: 15px;
}
h2{
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    background: rgb(0, 0, 0);
    text-align: center;
    color: rgb(255, 255, 255);
}