*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 80%;
    margin: 0 auto;
}

#container{
    width: 100%;
    margin: 0 auto;
}
header{
    max-width: 100%;
    background: rgb(17, 4, 4);
    width: 100%;
    clear: both;
    content: '';
    padding: 25px;
    display: flex;
    margin: 0 auto;
}
.menu{
    margin-left: 5px;
    margin-right: 50px;
    color: rgb(255, 255, 255);
    font-weight:bold;
    float: right;
    display: flex;
}

.top{
    max-width: 100%;
    width: 100%;
    padding: 25px;
    margin: 0 auto;
    background-color: rgb(0, 255, 127);
    color: rgb(0, 0, 0);
}

body header img{
    width: 50px;
    float: left;
    display: flex;
    height: 50px;
}
.pie{
    text-align: center;
    background-color: black;   
    color:rgb(255,255,255);
}
.li{
    color: white;
}
body div img{
    max-width:100%;
    width:80%;
}

/* preguntar
.menu::before{
    display: block;
    content: '';
    width: 0%;
    background: #719393;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.5s;
}
.menu:hover:before{
    width: 100%;
}*/
body h1{
    width: 90%;
    border-radius: 5px;
    background-color: rgb(0,0,0) ;
    color: white;
    text-align: center;
}